{% layout none %}
{% assign has_hover_swatches = false %}
{% assign show_sibling_swatches = false %}
{% assign siblings_collection = product.metafields.stiletto.sibling_collection.value.products | default: product.metafields.stiletto.siblings_collection.value.products %}

{% if settings.enable_product_card_swatches %}
  {% capture first_swatchified_option %}{%- render "get-first-swatchified-option" with prod: product -%}{%- endcapture -%}
  {% capture displayed_swatch_count %}{% render "get-variant-count-for-option" with prod: product, option_name: first_swatchified_option %}{% endcapture %}
  {% assign displayed_swatch_count = displayed_swatch_count | plus: 0 %}
    {% if displayed_swatch_count != 0 %}
      {% assign has_hover_swatches = true %}
    {% endif %}
{% endif %}

{% if siblings_collection.size > 0 %}
  {% assign has_hover_swatches = true %}
  {% assign show_sibling_swatches = true %}
  {% assign displayed_swatch_count = siblings_collection.size %}
  {% assign first_swatchified_option = settings.siblings_option_name | downcase %}
{% endif %}

{% if has_hover_swatches %}
  <h5 class="ff-body fs-body-50 product-item__swatch-count">
    {{
      'products.product.swatch_count'
      | t: count: displayed_swatch_count, swatch_name: first_swatchified_option
    }}
  </h5>
{% endif %}
{%- render 'product-item-swatches' with prod: product, option_name: first_swatchified_option, show_sibling_swatches: show_sibling_swatches -%}